<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title> My clicker </title>
</head>
<script type="text/javascript" src="/js/game.js"></script>
<body>
<div>
<p id="canvas1" style="text-align: center"><canvas width="1280" height="720" id="mycanvas" onmousedown="clickHandler(event)" style="border:1px solid #000"></canvas></p>
</div>
</body>
</html>